@using EntityLayer.DTO;
@model List<UserDetailDTO>

@{
    ViewBag.Title = "GetUserDetails";
    Layout = "~/Views/User/Index.cshtml";
}

<h2>GetUserDetails</h2>




@if (Model.Count == 0)
{
    <h1>Değer Bulunamadı</h1>
}

else
{
    <br />

    <table class="table text-center">

        <tr>

            <th>Yaşım</th>
            <th>Cinsiyetim</th>
            <th>Boyum</th>
            <th>Kilom</th>
            <th>Beden Kütle İndexim</th>
            <th>Kötü Alışkanlıklarım</th>
            <th>Kronik Hastalıklarım</th>
            <br />
            <br />
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Age</td>

                <td>@item.Sex</td>

                <td>@item.Height</td>

                <td>@item.Weight</td>

                <td>@item.BodyMassIndex</td>

                <td>@item.BadHabbitName</td>

                <td>@item.ChronicDiseaseName</td>

            </tr>
        }
    </table>


