@using EntityLayer.DTO;
@model List<UserDayTimeDetailDTO>

@{
    ViewBag.Title = "GetUserDayTimeDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@if (Model.Count == 0)
{
    <h1>Değer Bulunamadı</h1>
}

else
{
    @*<br />
    <h1>KEREM BULUT</h1>*@

    <table class="table text-center">

        <tr>

            <th>Gün Adı</th>
            <th>Öğün Adı</th>
            <th>Yemek Adı</th>
            <th>Kalori</th>
            <th>Hazım Durumu</th>
            <br />
            <br />
        </tr>


        @foreach (var item in Model)
        {
            <tr>

                <td>@item.DayName</td>

                <td>@item.DayTimeName</td>

                <td>@item.FoodName</td>

                <td>@item.Calori</td>

                <td>@item.Digestion</td>


            </tr>
        }
    </table>

    @*<br />
    <button class="btn btn-info"> Yeni Öğün Veri Girişi</button>*@
}
